{% extends 'layout.twig' %}
{% block title %}GitList{% endblock %}

{% block body %}
<div class="container">

    <div class="alert alert-danger">
        <strong>Oops!</strong> {{ message }}
    </div>

</div>
{% endblock %}
